* {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000000;
}

:root {
  
  /* Déclaration des variables pour la marge interne */
  --padding-desktop: calc(35 * (1px - ((100vw - 1200px) / 240)) + 50 * ((100vw - 1200px) / 240));
  /*--padding-desktop: clamp(35px, 35px * (1 - ((100vw - 1200px) / 240px)) + 50px * ((100vw - 1200px) / 240), (100vw - 1340px) / 2);
  */--padding-tablet: 35px;
  --padding-mobile: 20px;
  
  /* Déclaration des variables pour le thème */
  
  --color-primary: #0065FC;
  --color-secondary: #DEEBFF;
  --color-background: #F2F2F2;
  --color-border: #E3E3E3;
  color: #000000;
  background-color: #FFFFFF;
}

/* General Rules */
nav,
header,
.lodging,
.activities,
footer {
    padding: 0 var(--padding-desktop);
}

nav {
  min-height: 116px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: clamp(162px, 100vw * (11.25 / 100), 200px);
  text-decoration: none;
}

.nav__subscribe {
  min-width: clamp(111px, 100vw * (7.71 / 100), 150px);
  color: var(--color-primary);
  font-weight: 600;
}

header {
  min-height: 310px;
  background-color: cornflowerblue;
}

.lodging {
  min-height: 626px;
  background-color: coral;
  display: flex;
  flex-direction: row-reverse;
}

.lodging__popular {
  background-color: var(--color-primary);
  flex: 2;
  padding: 40px;
}
.popular__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.popular__card {
  width: 340px;
  height: 144px;
}

.lodging__main {
  background-color: var(--color-secondary);
  flex: 5;
  margin-right: 40px;
  padding: 40px;
}
.lodging__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lodging__card {
  width: 246px;
  height: 200px;
}

.activities {
  min-height: 494px;
  background-color: lightpink;
}

footer {
  min-height: 218px;
  background-color: burlywood;
}


/* Tablet Breakpoints & Rules */
@media only screen and (max-width: 1200px){
  /*Tablets [769px -> 1200px]*/
  nav,
  header,
  .lodging,
  .activities,
  footer {
    padding: 0 var(--padding-tablet);
  }

  .lodging {
    flex-direction: column;
  }
  .lodging__popular {
    flex: 2;
  }
  .lodging__main {
    flex: 5;
    margin-right: 0;
  }
}

/* Mobile Breakpoint & Rules*/
@media only screen and (max-width: 768px){
/*Smartphones [0px -> 768px]*/
  nav,
  header,
  .lodging,
  .activities,
  footer {
    padding: 0 var(--padding-mobile);
  }

  nav {
    min-height: 132px;
    background-color: antiquewhite;
    display: block;
    position: relative;
  }
  
  .nav__wrapper {
    height: 42px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100vw;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  
  .nav__link {
    height: 42px;
    min-width: 50%;
  }
  
  .nav__subscribe {
    min-width: 0;
    min-height: 90px;
    position: absolute;
    right: 20px;
    top: -90px;
  }


  .lodging {
    flex-direction: column;
  }
  .lodging__popular {
    flex: 2;
  }
  .lodging__main {
    flex: 5;
    margin-right: 0;
  }
}
