/* FEUILLE DE STYLE */
/* PROJET  RESERVIA */

/* Reset des marges & visualisations des blocks */
* {
  padding: 0;
  margin: 0;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

/* Décalaration des variables globales */
:root {
  
  /* Obtenir des marges fluides par interpolation entre 2 intervalles
  /* Intervalle 1 : selon la largeur des maquettes - 375px, 1440px
  /* Intervalle 2 : le padding gauche & droit de la page pour les valeurs
  /* précédentes - 20px, 50px
  /* Ici 1065 correspond à 1440-375 */
  --padding-page: calc(20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065));
  
  /* Variables couleurs pour le thème */
  --color-primary: #0065FC;
  --color-secondary: #DEEBFF;
  --color-background: #F2F2F2;
  --color-border: #E3E3E3;
  color: #000000;
  background-color: #FFFFFF;
}

/* General Rules */
.nav,
.header,
.lodging,
.activities,
.footer {
    padding: 0 var(--padding-page);
}

h1, h2 {
  font-size: 1.375em;
  font-weight: 800;
}

h3, button, input, label {
  font-size: 1.125em;
  font-weight: 700;
}

/* 1. Barre de Navigation --------------------------------------------------- */
.nav {
  min-height: 116px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: clamp(162px, 100vw * (11.25 / 100), 200px);
  text-decoration: none;
}

.menu__link--subscribe {
  min-width: clamp(111px, 100vw * (7.71 / 100), 150px);
  color: var(--color-primary);
  font-weight: 700;
}

/* 2. Header ---------------------------------------------------------------- */
.header {
  min-height: 310px;
  background-color: cornflowerblue;
}

.header__title {
  margin-bottom: 10px;
}

.header__subtitle {
  margin-bottom: 20px;
}

.searchbar {
  height: 51px;
  display: flex;
  margin-bottom: 31px;
}

.searchbar__item {
  display: flex;
  align-items: center;
}

.searchbar__item--icon {
  font-size: 1.25em;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
  background-color: var(--color-background);
}

.searchbar__item--input {
  padding-left: 18px;
}

.searchbar__item--label {
  padding: 0 17px;
  border-radius: 0 15px 15px 0;
  background-color: var(--color-primary);
  color: #FFFFFF;
}

.filter {
  height: 50px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/* 3. Section Hébergement --------------------------------------------------- */
.lodging {
  min-height: 626px;
  background-color: coral;
  display: flex;
  flex-direction: row-reverse;
}

  /* 3.1 Aside Hébergements Populaires -------------------------------------- */
.lodging-popular {
  background-color: var(--color-primary);
  flex: 2;
  padding: 40px;
}
.lodging-popular__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card--lodging-popular {
  width: 340px;
  height: 144px;
}

  /* 3.2 Div Hébergements Normaux ------------------------------------------- */
.lodging-main {
  background-color: var(--color-secondary);
  flex: 5;
  margin-right: 40px;
  padding: 40px;
}
.lodging-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card--lodging-main {
  width: 246px;
  height: 200px;
}

/* 4. Section Activités ----------------------------------------------------- */
.activities {
  min-height: 494px;
  background-color: lightpink;
}

/* 5. Footer ---------------------------------------------------------------- */
.footer {
  min-height: 218px;
  background-color: burlywood;
}


/* Tablet Breakpoints & Rules ----------------------------------------------- */
@media only screen and (max-width: 1200px){
  /*Tablets [769px -> 1200px]*/

  /* Lodging Rules */
  .lodging {
    flex-direction: column;
  }
  .lodging__popular {
    flex: 2;
  }
  .lodging__main {
    flex: 5;
    margin-right: 0;
  }
}

/* Mobile Breakpoint & Rules ------------------------------------------------ */
@media only screen and (max-width: 768px){
  /*Smartphones [0px -> 768px]*/

  /* Nav Rules */
  .nav {
    min-height: 132px;
    background-color: antiquewhite;
    display: block;
    position: relative;
  }
  
  .menu {
    height: 42px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100vw;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  
  .menu__link {
    height: 42px;
    min-width: 50%;
  }
  
  .menu__link--subscribe {
    min-width: 0;
    min-height: 90px;
    position: absolute;
    right: 40px;
    top: -90px;
  }

  /* Lodging Rules */
  .lodging {
    flex-direction: column;
  }
  .lodging-popular {
    flex: 2;
  }
  .lodging-main {
    flex: 5;
    margin-right: 0;
  }
}
