/* Variables globales */

:root {
  --padding-page: calc(
    20 * (1px - ((100vw - 375px) / 1065)) + 50 * ((100vw - 375px) / 1065)
  );
  /* Obtenir des marges fluides par interpolation entre 2 intervalles connus, exemple:
  /* Intervalle 1: selon la largeur des maquettes - 375px, 1440px
  /* Intervalle 2: le padding gauche & droit de la page - 20px, 50px
  /* 1065 correspond à 1440-375 */

  --searchbar-width: calc(
    335 * (1px - ((100vw - 375px) / 1065)) + 420 * ((100vw - 375px) / 1065)
  );
  /* Pour un élément comme la searchbar on sait également que sa width est
  /* de 100% en mode mobile. Aussi dans le @media mobile on pourra ajouter:
  /* width: min(var(--searchbar-width), 100%);
  /* Ainsi lorsque --searchbar-width est plus grand que 100% de la width de son parent
  /* min() sélectionnera la valeur 100% ce qui évitera un overflow en dessous d'un viewport d'une width de 335 */

  --color-primary: #0065fc;
  --color-secondary: #deebff;
  --color-background: #f2f2f2;
  --color-border: #d9d9d9;
  background-color: #fff;
  color: #000;
}

/* Override des règles Font Awesome injecté via le script js */

i.fas {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Règles Générales */

html {
  box-sizing: border-box;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 1.375em;
  font-weight: 800;
}

h3,
input,
label span {
  font-size: 1.125em;
  font-weight: 700;
}

a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

button {
  font-size: 1em;
  font-weight: 600;
}

input,
input:focus,
textarea:focus,
select:focus {
  border: 0;
  outline: none;
}

ul {
  list-style: none;
}

.nav,
.header,
.lodging,
.activities,
.footer {
  padding: 0 max(var(--padding-page), (100vw - 1340px) / 2);
}

.card,
.lodging-main__more,
.fas--searchbar-marker,
label,
button {
  cursor: pointer;
}

/* Règles globales pour les cartes */

.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 5px solid white;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px var(--color-border);
  transition: all 0.2s linear;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 10px 20px var(--color-border);
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 114px;
  object-fit: cover;
}

.card__text {
  display: flex;
  flex: 100%;
  flex-direction: column;
  padding: 5px 0 0 10px;
}

.card__title {
  font-size: 1em;
  font-weight: 700;
}

.card__info {
  margin-top: 5px;
  font-size: 0.875em;
  font-weight: 400;
}

.card__price {
  font-weight: 700;
}

.card__rating {
  display: inline-flex;
  padding: 5px 0;
  margin-top: auto;
}

i.fas--card {
  color: var(--color-primary);
  font-size: 0.7em;
}

i.fas--none {
  color: var(--color-border);
}

/* 1. Barre de Navigation --------------------------------------------------- */
.nav {
  display: grid;
  min-height: 100px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr repeat(2, 162px) 111px;
}

.menu__item,
.menu__logo {
  display: flex;
  align-items: center;
}

.menu__item:nth-of-type(-n + 4) {
  justify-content: center;
}

.menu__item a:hover {
  color: var(--color-primary);
  font-weight: 600;
}

/* Utilisation de box-shadow inset plutôt
/* que border. Permet d'éviter un changement
/* de height de l'élément */
.menu__item:nth-of-type(-n + 3):hover {
  box-shadow: inset 0 5px var(--color-primary);
}

.menu__item:last-child a {
  overflow: hidden;
  color: var(--color-primary);
  font-weight: 700;
  transition: all 0.1s linear;
}

.menu__item:last-child a:hover {
  transform: scale(1.05);
}

/* 2. Header ---------------------------------------------------------------- */
.header {
  margin: 20px 0 30px 0;
}

.header__title {
  margin-bottom: 10px;
}

.header__subtitle {
  margin-bottom: 30px;
}

.searchbar {
  display: flex;
  width: var(--searchbar-width);
  min-height: 51px;
}

.searchbar__item {
  display: flex;
  align-items: center;
}

i.fas--searchbar-marker {
  padding: 0 20px;
  background-color: var(--color-background);
  border-radius: 15px 0 0 15px;
  font-size: 1.3em;
}

i.fas--searchbar-marker:hover {
  color: var(--color-primary);
}

.searchbar__item--input {
  width: 100%;
  padding-left: 18px;
  box-shadow: inset 0 2px var(--color-background),
    inset 0 -2px var(--color-background);
}

.searchbar__item--label {
  padding: 0 17px;
  background-color: var(--color-primary);
  border-radius: 0 15px 15px 0;
  color: #ffffff;
}

.searchbar__item--label:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

i.fas--searchbar-search {
  display: none;
}

.filter {
  display: flex;
  margin: 30px 0 5px 0;
}

.filter__title {
  padding: 15px 30px 0 0;
}

.filter__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.button--filter {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-right: 20px;
  border: solid 1px white;
  margin: 0 15px 20px 0;
  background: none;
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px var(--color-border);
}

.button--filter:hover {
  border: solid 1px var(--color-secondary);
  background-color: var(--color-secondary);
  box-shadow: inset 0 0 0 2px var(--color-secondary);
  color: var(--color-primary);
}

.fas--filter {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-secondary);
  color: var(--color-primary);
}

.header__info {
  display: flex;
}

i.fas--info {
  min-width: 23px;
  height: 23px;
  border: 1px solid var(--color-border);
  margin: 0 10px 0 0;
  border-radius: 50%;
  color: var(--color-primary);
  font-size: 0.825em;
}

.header__info-text {
  display: flex;
  flex-direction: column;
  margin: 3px 0 0 0;
  line-height: 1.125em;
}

/* 3. Section Hébergement --------------------------------------------------- */
.lodging {
  display: grid;
  min-height: 626px;
  gap: 40px;
  grid-template-areas: "main popular";
  grid-template-columns: 3fr 1fr;
}

/* 3.1 Aside Hébergements Populaires -------------------------------------- */
.lodging-popular {
  padding: 40px;
  background-color: var(--color-background);
  border-radius: 25px;
  grid-area: popular;
}

.lodging-popular__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lodging-popular__container {
  display: grid;
  gap: 20px;
  grid-auto-rows: 144px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: 144px;
}

.card--lodging-popular {
  flex-direction: row;
}

.card--lodging-popular img {
  width: 132px;
  height: 100%;
  object-fit: cover;
}

.card--lodging-popular .card__text {
  padding: 15px 30px 0 20px;
}

/* 3.2 Div Hébergements Normaux ------------------------------------------- */
.lodging-main {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--color-background);
  border-radius: 25px;
  grid-area: main;
}

.lodging-main__title {
  margin-bottom: 20px;
}

.lodging-main__container {
  display: grid;
  gap: 20px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.lodging-main__more {
  padding-top: 40px;
  margin-top: auto;
}

/* 4. Section Activités ----------------------------------------------------- */
.activities {
  display: flex;
  min-height: 614px;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}

.activities__title {
  margin: 20px 0;
}

.activities__container {
  display: grid;
  gap: 0 40px;
  grid-template-areas:
    "a b d e"
    "a b d e"
    "a b d e"
    "a b d e"
    "a b d e"
    "a b d ."
    "a . d f"
    "a c d f"
    "a c d f"
    "a c d f"
    "a c d f";
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(11, 40px);
}

.card--activities {
  border: 0;
}

.card--activities:nth-of-type(1) {
  grid-area: a;
}

.card--activities:nth-of-type(2) {
  grid-area: b;
}

.card--activities:nth-of-type(3) {
  grid-area: c;
}

.card--activities:nth-of-type(4) {
  grid-area: d;
}

.card--activities:nth-of-type(5) {
  grid-area: e;
}

.card--activities:nth-of-type(6) {
  grid-area: f;
}

.card--activities .card__img-wrapper {
  height: calc(100% - 56px);
}

.card--activities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--activities .card__text.card__title {
  height: 100%;
  flex: 0;
  padding: 0 10px;
  margin: auto 0;
}

/* 5. Footer ---------------------------------------------------------------- */
.footer {
  display: grid;
  min-height: 218px;
  padding-top: 40px;
  background-color: var(--color-background);
  grid-template-areas: "about our-lodging assistance";
}

.footer__item:nth-of-type(1) {
  grid-area: about;
}

.footer__item:nth-of-type(2) {
  grid-area: our-lodging;
}

.footer__item:nth-of-type(3) {
  grid-area: assistance;
}

.footer h3 {
  margin-bottom: 20px;
}

.footer li {
  margin-bottom: 10px;
}

/* Règles Tablettes --------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  /* Tablettes [769px -> 1200px] */

  /* Hébergement */
  .lodging {
    display: grid;
    grid-template-areas:
      "popular"
      "main";
    grid-template-columns: 1fr;
  }

  .lodging-popular__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }

  /* Activités */
  .activities__container {
    display: grid;
    grid-template-areas:
      "a b c"
      "a b c"
      "a b c"
      "a b c"
      "a b c"
      "a b c"
      ". . ."
      "d e f"
      "d e f"
      "d e f"
      "d e f"
      "d e f"
      "d e f";
  }
}

/* Règles Mobiles L ---------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /*Smartphones [461px -> 768px]*/

  /* Barre de Navigation, Reset du padding global
  /* pour l'appliquer aux enfants au cas par cas
  /* selon leur disposition dans la grille réarrangée */
  .nav {
    min-height: 132px;
    padding: 0;
  }

  .menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 48px;
  }

  .menu__logo {
    padding-left: var(--padding-page);
  }

  /* Changement de l'ordre du subscribe dans la grille */
  .menu__item:nth-of-type(4) {
    justify-content: flex-end;
    padding-right: var(--padding-page);
    grid-column: 2;
    grid-row: 1;
  }

  /* Les liens affichent désormais
  /* un inset box-shadow en bas */
  .menu__item:nth-of-type(-n + 3) {
    box-shadow: inset 0 -5px var(--color-background);
  }

  .menu__item:nth-of-type(-n + 3):hover {
    box-shadow: inset 0 -5px var(--color-primary);
  }

  /* Header */
  .header {
    margin-top: 30px;
  }

  .searchbar {
    position: relative;
    width: min(var(--searchbar-width), 100%);
  }

  .searchbar__item--input {
    border-radius: 0 30px 30px 0;
    box-shadow: inset 0 0 0 2px var(--color-background);
  }

  .searchbar__item--label {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 17px;
    background-color: var(--color-primary);
    border-radius: 15px;
  }

  .searchbar__item--label:hover {
    color: var(--color-primary);
  }

  .searchbar__item--label-text {
    display: none;
  }

  i.fas--searchbar-search {
    display: inline;
  }

  .filter {
    flex-direction: column;
  }

  .filter__title {
    padding: 0;
    margin: 0 0 20px 0;
  }

  /* Hébergement */
  .lodging {
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: minmax(200px, 1fr);
  }

  .lodging-popular {
    padding: 40px var(--padding-page);
    border-radius: 0;
  }

  .lodging-popular__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .lodging-main {
    padding: 40px var(--padding-page);
    background-color: white;
  }

  .lodging-main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Activités */
  .activities {
    padding-top: 0;
  }

  .activities__container {
    display: grid;
    gap: 20px;
    grid-auto-rows: 190px;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    grid-template-rows: repeat(3, 190px);
  }

  /* Footer */
  .footer {
    display: grid;
    grid-template-areas:
      "about"
      "our-lodging"
      "assistance";
    text-align: center;
  }

  .footer__item {
    margin-bottom: 30px;
  }
}

/* Règles Mobiles M ---------------------------------------------------------- */
@media only screen and (max-width: 460px) {
  /*Smartphones [351px -> 460px]*/

  /* Header */
  .button--filter {
    padding-right: 15px;
    margin: 0 10px 15px 0;
  }

  /* Hébergements */
  .lodging-popular__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  /* Activités */
  .activities__container {
    display: grid;
    gap: 20px;
    grid-auto-rows: 190px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
    grid-template-rows: repeat(6, 190px);
  }

  /* Footer */
  .footer {
    text-align: left;
  }
}

/* Règles Mobiles S ---------------------------------------------------------- */
@media only screen and (max-width: 350px) {
  /*Smartphones [0px -> 350px]*/

  /* Hébergements */
  .lodging-main__container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .lodging-popular__container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* Changement de l'aspect des cartes populaires en carte normale
  /* Ce qui évite un overflow du texte */

  .card--lodging-popular {
    flex-direction: column;
  }

  .card--lodging-popular img {
    width: 100%;
    height: 114px;
    object-fit: cover;
  }

  .card--lodging-popular .card__text {
    padding: 5px 0 0 10px;
  }
}

/* Règles RepoLink ---------------------------------------------------------- */

a.repoLink {
  position: fixed;
  z-index: 5;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 100%;
}

a.repoLink svg {
  fill: var(--color-primary);
  -webkit-filter: drop-shadow( 0px 2px 4px rgba(0, 0, 0, .4));
  filter: drop-shadow( 0px 2px 4px rgba(0, 0, 0, .4));
}

a.repoLink:hover svg {
   fill: var(--color-secondary);
 }
